.spinner {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(67, 51, 51);
  border-top: 2px solid skyblue;
  animation: loader 0.5s ease-in infinite;
  border-radius: 50%;
  position: relative;
  left: 45%;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
